<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" >
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>View Questions</title>

<style>

	/* .correctAns{
background-color: green;
} */

h2{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: black;
}
table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width:70%;
  table-layout: auto;
  
}

  
.tableDiv{
  display: flex;
  justify-content: center;
  
}

th, td {
  text-align: center;
  padding: 8px;
 
  
}
body{
 background-color:rgb(206, 213, 233);
 }

a{
 padding:4px;
 margin:6px;
 display: inline;
}

 *{
   font-family: 'Times New Roman', Times, serif;
   font-size:large;
   }
    </style>

</head>
<body>
	<div >
        <header>
            <nav class="navbar navbar-light " style="background-color:white;font-family: 'Times New Roman', Times, serif;font-size:large;font-weight:bold; color: white; padding:0px; margin:0px">
              
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="#">OnlineAssessment</a>
                  </div>
                  <ul class="nav navbar-nav">
                   
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li ><a th:href="@{/profile}"><span class="glyphicon glyphicon-user"></span> Profile </a></li>
                    <li><a th:href="@{/loginOut}"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
                     <li ><a th:text="'Name:' + ${session.userName}"></a></li>
                    
                  </ul>
                </div>
              </nav>
        </header>
        <div class="container" >
        
        <h2 id="h">Question List</h2>
           <br>
       		<div class="tableDiv" style="overflow-x:auto;">
                <table>
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Question</th>
                    <th>Level/Marks</th>
                    
                    
                  </tr>
                </thead>
                <tbody>
               
						
                   <tr th:each="performance : ${studentPerformanceMap}">
                  	<td th:text="${performance.getKey().questionId}"></td>
                    <td><p th:text="${performance.getKey().questionTitle}"></p>
                    <p th:text="${performance.getKey().option1}"></p>
                    <p th:text="${performance.getKey().option2}"></p>
                    <p th:text="${performance.getKey().option3}" />
                    <p th:text="${performance.getKey().option4}" /> 
                  Correct Answer: <p class="correctAns" th:text=" ${performance.getKey().correctAnswer}"></p>
                   selectedOption: <p class="selectedOpt" th:text=" ${performance.getValue().selectedOption}"></p>
                                       
                      </td>
                      
                    <td> <p th:text="${performance.getKey().difficultyLevel}" />
                   <p th:text="${performance.getKey().marks}"/></td>
                    
                 
                  </tr>
                </tbody>
                  </table>
                  
                     
                </div>  
        	 <br>
                  <a  th:href="@{/performance}" class="btn btn-primary">back</a> 
               
        	</div>
        	<footer>
            
          </footer>
        							
	</div>
	<script>
	/* let element = document.querySelector("p").value; */
	
	/* let crtAnswer = document.getElementById("correctAns");
	let selAnswer = document.getElementById("selectedOpt");
	if(crtAnswer.innerText == selAnswer.innerText){
		selAnswer.style.backgroundColor="green";
		console.log(crtAnswer.innerText);
	}else{
		selAnswer.style.backgroundColor="red";
		console.log(selAnswer);
	} */
	
	const crtAnswer = document.querySelectorAll(".correctAns")
	console.log(crtAnswer);
	const selAnswer = document.querySelectorAll(".selectedOpt");
	console.log(selAnswer)
	let iterator = 0;
	for(let val of crtAnswer){
		
		if(val.innerText == selAnswer[iterator].innerText){
			selAnswer[iterator].style.backgroundColor="green";
		}else{
			selAnswer[iterator].style.backgroundColor="red";
		}
		iterator++;
	} 
	
	
</script>
</body>
</html>